
body {
    margin: 0;
    padding: 0;
    color: #9c9893;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.7em;
    background-color: black;
    background-repeat: repeat-x;
    background-position: top center
}

a, a:link, a:visited {
    color: #f9b507;
    font-weight: normal;
    text-decoration: underline;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

a.more {
    display: block;
    width: 86px;
    height: 29px;
    padding: 2px 0 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    background: url(images/tooplate_more.png)  no-repeat top center;
    color: #000;
    text-shadow: 1px 1px 1px #625953
}

a.more:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#fff; }
cite span { color: #fff; }
em { color: #c8690a; }

h1, h2, h3, h4, h5, h6 { color: #ffcc00; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.col_w450 li{ margin: 0;
    padding: 0.5em;}

.image_wrapper {
    display: inline-block;
    border: 1px solid #414141;
    padding: 4px;
    background: #000;
    margin-bottom: 5px
}

.image_fl {
    float: left;
    margin: 3px 30px 0 0
}

.image_fr {
    float: right;
    margin: 3px 0 0 30px
}

.tooplate_list {
    margin: 20px 0 20px 20px;
    padding: 0;
    list-style: none;
}

.tooplate_list li {
    color:#fff;
    margin: 0;
    padding: 0 0 5px 20px;
    background: url(images/tooplate_list.png) no-repeat scroll 0 5px;
}

.tooplate_list li a {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
}

.tooplate_list li a:hover {
    text-decoration: underline;
}

#tooplate_wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background: url(images/tooplate_body.jpg) top center no-repeat
}

#tooplate_header {
    clear: both;
    width: 940px;
    height: 130px;
    padding: 10px;

}

#site_title {
    float: left;
    width: 240px;
    height: 55px;
    margin: -17px auto;
}


#site_title h1 {
    margin: 0;
    padding: 0;
}

#site_title h1 a {
    display: block;
    width: 240px;
    height: 60px;
    color: #fff;
    outline: none;
    text-indent: -10000px;

}


!* menu *!

#tooplate_menu {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;
    background: url(images/tooplate_menu.png)

}

#tooplate_menu ul {
    margin: 110px auto;
    padding: 0;
    list-style: none;
}


#tooplate_menu ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu ul .last { background: none }

#tooplate_menu ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}

!* end of menu *!

#tooplate_middle {
    clear: both;
    width: 760px;
    padding: 50px 100px 60px;
    overflow: hidden;
    background: url(images/tooplate_mid_divider.png) bottom center no-repeat
}

#mid_title {
    font-size: 34px;
    font-weight: 400;
    color: #ffcc00;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #000
}

#tooplate_middle p {
    width: 700px;
    font-size: 18px;
    color: #ccc;
    line-height: 30px;
}

!* main *!

#tooplate_main {
    clear: both;
    width: 960px;
    padding: 0 0 40px;
    margin: 0;
}

.col_w960 { width: 100%; margin-bottom: 60px }
.col_w600 { width: 600px }
.col_w450 { width: 100% }
.col_w300 { width: 300px }
.col_w200 { width: 200px }
.col_allw300 { float: left; width: 300px; margin-right: 30px }
.col_last { margin: -10px }

.frontpage_box h2 {
    font-size: 20px;
    padding: 0;
    margin-bottom: 5px;
    color: #ffcc00;
}

.frontpage_box img {
    float: left; margin-right: 15px;
}

.frontpage_box a.more {
    margin-top: 15px;
}

.tagline {
    display: block;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: #666;
    margin-bottom: 20px
}





#tooplate_footer_wrapper {
    margin-top: 16px;
    clear: both;
    width: 100%;
    background: url(images/tooplate_footer_repeat.jpg) repeat-x top
}

#tooplate_footer {
    clear: both;
    width: 960px;
    height: 30px;
    padding: 20px 14px;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #585858;
    margin: 48px auto;
    background: url(images/tooplate_footer.jpg) no-repeat top
}

#tooplate_footer a {
    font-weight: normal;
    color: #ffcc00;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000
}
#tooplate_menu2 {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;


}
#tooplate_menu2 ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#tooplate_menu2 ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu2 ul .last { background: none }

#tooplate_menu2 ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu2 ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}
#social{
    margin-top: 100px;
}




!*gallery*!



body {
    margin: 0;
    padding: 0;
    color: #9c9893;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.7em;
    background-color: black;
    background-repeat: repeat-x;
    background-position: top center
}

a, a:link, a:visited {
    color: #f9b507;
    font-weight: normal;
    text-decoration: underline;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

a.more {
    display: block;
    width: 86px;
    height: 29px;
    padding: 2px 0 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    background: url(images/tooplate_more.png)  no-repeat top center;
    color: #000;
    text-shadow: 1px 1px 1px #625953
}

a.more:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#fff; }
cite span { color: #fff; }
em { color: #c8690a; }

h1, h2, h3, h4, h5, h6 { color: #ffcc00; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.col_w450 li{ margin: 0;
    padding: 0.5em;}

.image_wrapper {
    display: inline-block;
    border: 1px solid #414141;
    padding: 4px;
    background: #000;
    margin-bottom: 5px
}

.image_fl {
    float: left;
    margin: 3px 30px 0 0
}

.image_fr {
    float: right;
    margin: 3px 0 0 30px
}

.tooplate_list {
    margin: 20px 0 20px 20px;
    padding: 0;
    list-style: none;
}

.tooplate_list li {
    color:#fff;
    margin: 0;
    padding: 0 0 5px 20px;
    background: url(images/tooplate_list.png) no-repeat scroll 0 5px;
}

.tooplate_list li a {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
}

.tooplate_list li a:hover {
    text-decoration: underline;
}

#tooplate_wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background: url(images/tooplate_body.jpg) top center no-repeat
}

#tooplate_header {
    clear: both;
    width: 940px;
    height: 130px;
    padding: 10px;

}



#site_title h1 {
    margin: 0;
    padding: 0;
}

#site_title h1 a {
    display: block;
    width: 240px;
    height: 60px;
    color: #fff;
    outline: none;
    text-indent: -10000px;

}

!* menu *!

#tooplate_menu {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;
    background: url(images/tooplate_menu.png)

}



#tooplate_menu ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu ul .last { background: none }

#tooplate_menu ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}

!* end of menu *!

#tooplate_middle {
    clear: both;
    width: 760px;
    padding: 50px 100px 60px;
    overflow: hidden;
    background: url(images/tooplate_mid_divider.png) bottom center no-repeat
}

#mid_title {
    font-size: 34px;
    font-weight: 400;
    color: #ffcc00;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #000
}

#tooplate_middle p {
    width: 700px;
    font-size: 18px;
    color: #ccc;
    line-height: 30px;
}

!* main *!

#tooplate_main {
    clear: both;
    width: 960px;
    padding: 0 0 40px;
    margin: 0;
}

.col_w960 { width: 100%; margin-bottom: 60px }
.col_w600 { width: 600px }
.col_w450 { width: 100% }
.col_w300 { width: 300px }
.col_w200 { width: 200px }
.col_allw300 { float: left; width: 300px; margin-right: 30px }
.col_last { margin: -10px}



#tooplate_footer_wrapper {
    margin-top: 100px;
    clear: both;
    width: 100%;
    background: url(images/tooplate_footer_repeat.jpg) repeat-x top
}

#tooplate_footer {
    clear: both;
    width: 960px;
    height: 30px;
    padding: 20px 14px;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #585858;
    margin: 48px auto;
    background: url(images/tooplate_footer.jpg) no-repeat top
}

#tooplate_footer a {
    font-weight: normal;
    color: #ffcc00;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000
}
#tooplate_menu2 {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;


}
#tooplate_menu2 ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#tooplate_menu2 ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu2 ul .last { background: none }

#tooplate_menu2 ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu2 ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}



!*about*!



body {
    margin: 0;
    padding: 0;
    color: #9c9893;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.7em;
    background-color: black;
    background-repeat: repeat-x;
    background-position: top center
}
a, a:link, a:visited {
    color: #f9b507;
    font-weight: normal;
    text-decoration: underline;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

a.more {
    display: block;
    width: 86px;
    height: 29px;
    padding: 2px 0 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    background: url(images/tooplate_more.png)  no-repeat top center;
    color: #000;
    text-shadow: 1px 1px 1px #625953
}

a.more:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#fff; }
cite span { color: #fff; }
em { color: #c8690a; }

h1, h2, h3, h4, h5, h6 { color: #ffcc00; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.col_w450 li{ margin: 0;
    padding: 0.5em;}

.image_wrapper {
    display: inline-block;
    border: 1px solid #414141;
    padding: 4px;
    background: #000;
    margin-bottom: 5px
}

.image_fl {
    float: left;
    margin: 3px 30px 0 0
}

.image_fr {
    float: right;
    margin: 3px 0 0 30px
}

.tooplate_list {
    margin: 20px 0 20px 20px;
    padding: 0;
    list-style: none;
}

.tooplate_list li {
    color:#fff;
    margin: 0;
    padding: 0 0 5px 20px;
    background: url(images/tooplate_list.png) no-repeat scroll 0 5px;
}

.tooplate_list li a {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
}

.tooplate_list li a:hover {
    text-decoration: underline;
}

#tooplate_wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background: url(images/tooplate_body.jpg) top center no-repeat
}

#tooplate_header {
    clear: both;
    width: 940px;
    height: 130px;
    padding: 10px;

}


#site_title h1 {
    margin: 0;
    padding: 0;
}




!* menu *!

#tooplate_menu {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;
    background: url(images/tooplate_menu.png)

}



#tooplate_menu ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu ul .last { background: none }

#tooplate_menu ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}

!* end of menu *!

#tooplate_middle {
    clear: both;
    width: 760px;
    padding: 50px 100px 60px;
    overflow: hidden;
    background: url(images/tooplate_mid_divider.png) bottom center no-repeat
}

#mid_title {
    font-size: 34px;
    font-weight: 400;
    color: #ffcc00;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #000
}

#tooplate_middle p {
    width: 700px;
    font-size: 18px;
    color: #ccc;
    line-height: 30px;
}

!* main *!

#tooplate_main {
    clear: both;
    width: 960px;
    padding: 0 0 40px;
    margin: 0;
}

.col_w960 { width: 100%; margin-bottom: 60px }
.col_w600 { width: 600px }
.col_w450 { width: 100% }
.col_w300 { width: 300px }
.col_w200 { width: 200px }
.col_allw300 { float: left; width: 300px; margin-right: 30px }
.col_last { margin: 0 }



#tooplate_footer_wrapper {
    margin-top: 16px;
    clear: both;
    width: 100%;
    background: url(images/tooplate_footer_repeat.jpg) repeat-x top
}

#tooplate_footer {
    clear: both;
    width: 960px;
    height: 30px;
    padding: 20px 14px;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #585858;
    margin: 48px auto;
    background: url(images/tooplate_footer.jpg) no-repeat top
}

#tooplate_footer a {
    font-weight: normal;
    color: #ffcc00;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000
}
#tooplate_menu2 {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;


}
#tooplate_menu2 ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#tooplate_menu2 ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu2 ul .last { background: none }

#tooplate_menu2 ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu2 ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}



!*contact*!



body {
    margin: 0;
    padding: 0;
    color: #9c9893;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.7em;
    background-color: black;
    background-repeat: repeat-x;
    background-position: top center
}
a, a:link, a:visited {
    color: #f9b507;
    font-weight: normal;
    text-decoration: underline;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

a.more {
    display: block;
    width: 86px;
    height: 29px;
    padding: 2px 0 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    background: url(images/tooplate_more.png)  no-repeat top center;
    color: #000;
    text-shadow: 1px 1px 1px #625953
}

a.more:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#fff; }
cite span { color: #fff; }
em { color: #c8690a; }

h1, h2, h3, h4, h5, h6 { color: #ffcc00; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.col_w450 li{ margin: 0;
    padding: 0.5em;}

.image_wrapper {
    display: inline-block;
    border: 1px solid #414141;
    padding: 4px;
    background: #000;
    margin-bottom: 5px
}

.image_fl {
    float: left;
    margin: 3px 30px 0 0
}

.image_fr {
    float: right;
    margin: 3px 0 0 30px
}

.tooplate_list {
    margin: 20px 0 20px 20px;
    padding: 0;
    list-style: none;
}

.tooplate_list li {
    color:#fff;
    margin: 0;
    padding: 0 0 5px 20px;
    background: url(images/tooplate_list.png) no-repeat scroll 0 5px;
}

.tooplate_list li a {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
}

.tooplate_list li a:hover {
    text-decoration: underline;
}

#tooplate_wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background: url(images/tooplate_body.jpg) top center no-repeat
}

#tooplate_header {
    clear: both;
    width: 940px;
    height: 130px;
    padding: 10px;

}



#site_title h1 {
    margin: 0;
    padding: 0;
}

#site_title h1 a {
    display: block;
    width: 240px;
    height: 60px;
    color: #fff;
    outline: none;
    text-indent: -10000px;

}

!* menu *!

#tooplate_menu {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;
    background: url(images/tooplate_menu.png)

}



#tooplate_menu ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu ul .last { background: none }

#tooplate_menu ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}

!* end of menu *!

#tooplate_middle {
    clear: both;
    width: 760px;
    padding: 50px 100px 60px;
    overflow: hidden;
    background: url(images/tooplate_mid_divider.png) bottom center no-repeat
}

#mid_title {
    font-size: 34px;
    font-weight: 400;
    color: #ffcc00;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #000
}

#tooplate_middle p {
    width: 700px;
    font-size: 18px;
    color: #ccc;
    line-height: 30px;
}

!* main *!

#tooplate_main {
    clear: both;
    width: 960px;
    padding: 0 0 40px;
    margin: 0;
}

.col_w960 { width: 100%; margin-bottom: 60px }
.col_w600 { width: 600px }
.col_w450 { width: 100% }
.col_w300 { width: 300px }
.col_w200 { width: 200px }
.col_allw300 { float: left; width: 300px; margin-right: 30px }
.col_last { margin: 0 }

.frontpage_box h2 {
    font-size: 20px;
    padding: 0;
    margin-bottom: 5px;
    color: #ffcc00;
}

.frontpage_box img {
    float: left; margin-right: 15px;
}

.frontpage_box a.more {
    margin-top: 15px;
}

.tagline {
    display: block;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: #666;
    margin-bottom: 20px
}

.lp_frontpage {
    margin: 0;
    padding: 0;
    list-style: none
}

.lp_frontpage li {
    margin: 0;
    padding: 0;
    display: inline
}

.lp_frontpage li a {
    float: left;
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 10px 10px 0
}

.lp_frontpage li a img {
    width: 190px;
    height: 90px;
    border: 1px solid #203252;
    padding: 4px;
}

.sb_lp_box { clear: both; margin-bottom: 20px }
.sb_lp_box img { width: 280px; height: 140px; padding: 9px; border: 1px solid #ccc }


#gallery {
    margin: 0;
    padding: 0
}

#gallery .gallery_box {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: url(images/tooplate_hr_divider.png) bottom repeat-x
}

#gallery .gallery_box img {
    float: left;
    width: 420px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 9px;
    margin-right: 40px;
    background: #fff
}

#gallery .last_box {
    margin-bottom: 0;
    padding-bottom: 0;
    background: none
}

.news_box { margin-bottom: 60px }
.news_box h2 { font-size: 16px; margin-bottom: 0 }
.news_box p.date { color: #000; margin-bottom: 0 }
.news_box img { float: left; width: 100px; height: 100px; border: 5px solid #ccc; margin-right: 20px; }
.news_box a.more { float: right; }

.post_box {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: repeat-x bottom;
}

.post_box_date {
    float: left;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    padding-top:10px;
}

.post_box_date span {
    display: block;
    font-weight: normal;
}

.post_box_content {
    float: right;
    width: 480px
}

.post_box_content img {
    margin-bottom: 10px
}

.post_box h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.post_box h2 a {
    color: #ffcc00;
    font-size: 34px;
    font-weight: normal;
    line-height: 34px;
    margin-bottom: 20px;
    text-decoration: none
}

.post_box h2 a span {
    font-size: 12px;
    color: #333
}

.post_box p {
    margin-bottom: 0;
}

.post_box p.date {
    font-size: 10px;
    font-weight: 700;
    color: #0e4369
}

.post_box .more {
    clear: both;
    float: right;
    margin-top: 20px;
}

.lbe_box {
    clear: both;
    margin-bottom: 20px;
}

.lbe_date {
    float: left;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
}

.lbe_date span {
    display: block;
    font-weight: normal;
}

.lbe_content {
    float: right;
    width: 320px;
}

.lbe_box h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.lbe_box h3 a {
    color: #f9b507;
    font-size: 16px;
    font-weight: normal;
}

.lbe_box h3 a span {
    font-size: 12px;
    color: #333;
}

.lbe_box p {
    margin-bottom: 0;
}

.lbe_box p.date {
    font-size: 10px;
    font-weight: 700;
    color: #f9b507;
}

#cp_contact_form {
    padding: 0;
    width: 100%;
}

#cp_contact_form form {
    margin: 0px;
    padding: 0px;
}

#cp_contact_form form .input_field {
    width: 388px;
    padding: 5px;
    color: #aaa;
    border: 1px solid #3b3a3a;
    background: #1b1a1a;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

#cp_contact_form form label {
    display: inline-block;
    color: #B1B1B1;
    vertical-align: top;
    font-size: 12px;
    padding-top: 7px;
    width: 100px;

}
#cp_contact_form li {
    list-style-type: none;

}
#cp_contact_form form input {

    padding: 5px;
    color: #aaa;
    border: 1px solid #3b3a3a;
    background: #1b1a1a;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px; }

#cp_contact_form form textarea {
    width: 388px;
    height: 160px;
    padding: 5px;
    color: #aaa;
    border: 1px solid #3b3a3a;
    background: #1b1a1a;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

#cp_contact_form form .submit_btn  {
    margin: 5px 0px;
    padding: 3px 14px;
    font-weight: bold;
    color: #aaa;
    border: 1px solid #3b3a3a;
    background: #1b1a1a;
}

#map img {
    width: 300px;
    height: 200px;
    border: 1px solid #999;
    padding: 5px;
}

#tooplate_footer_wrapper {
    margin-top: 16px;
    clear: both;
    width: 100%;
    background: url(images/tooplate_footer_repeat.jpg) repeat-x top
}

#tooplate_footer {
    clear: both;
    width: 960px;
    height: 30px;
    padding: 20px 14px;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #585858;
    margin: 48px auto;
    background: url(images/tooplate_footer.jpg) no-repeat top
}

#tooplate_footer a {
    font-weight: normal;
    color: #ffcc00;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000
}
#tooplate_menu2 {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;


}
#tooplate_menu2 ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#tooplate_menu2 ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu2 ul .last { background: none }

#tooplate_menu2 ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu2 ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}



!*reserve*!



body {
    margin: 0;
    padding: 0;
    color: #9c9893;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 13px;
    line-height: 1.7em;
    background-color: black;
    background-repeat: repeat-x;
    background-position: top center
}

a, a:link, a:visited {
    color: #f9b507;
    font-weight: normal;
    text-decoration: underline;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

a.more {
    display: block;
    width: 86px;
    height: 29px;
    padding: 2px 0 0;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 11px;
    background: url(images/tooplate_more.png)  no-repeat top center;
    color: #000;
    text-shadow: 1px 1px 1px #625953
}

a.more:hover {
    color: #fff;
    text-shadow: 1px 1px 1px #000
}

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#fff; }
cite span { color: #fff; }
em { color: #c8690a; }

h1, h2, h3, h4, h5, h6 { color: #ffcc00; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.col_w450 li{ margin: 0;
    padding: 0.5em;}

.image_wrapper {
    display: inline-block;
    border: 1px solid #414141;
    padding: 4px;
    background: #000;
    margin-bottom: 5px
}

.image_fl {
    float: left;
    margin: 3px 30px 0 0
}

.image_fr {
    float: right;
    margin: 3px 0 0 30px
}

.tooplate_list {
    margin: 20px 0 20px 20px;
    padding: 0;
    list-style: none;
}

.tooplate_list li {
    color:#fff;
    margin: 0;
    padding: 0 0 5px 20px;
    background: url(images/tooplate_list.png) no-repeat scroll 0 5px;
}

.tooplate_list li a {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    text-decoration: none;
}

.tooplate_list li a:hover {
    text-decoration: underline;
}

#tooplate_wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background: url(images/tooplate_body.jpg) top center no-repeat
}

#tooplate_header {
    clear: both;
    width: 940px;
    height: 130px;
    padding: 10px;

}



#site_title h1 {
    margin: 0;
    padding: 0;
}

#site_title h1 a {
    display: block;
    width: 240px;
    height: 60px;
    color: #fff;
    outline: none;
    text-indent: -10000px;

}


!* menu *!

#tooplate_menu {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;
    background: url(images/tooplate_menu.png)

}



#tooplate_menu ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu ul .last { background: none }

#tooplate_menu ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}

!* end of menu *!

#tooplate_middle {
    clear: both;
    width: 760px;
    padding: 50px 100px 60px;
    overflow: hidden;
    background: url(images/tooplate_mid_divider.png) bottom center no-repeat
}

#mid_title {
    font-size: 34px;
    font-weight: 400;
    color: #ffcc00;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #000
}

#tooplate_middle p {
    width: 700px;
    font-size: 18px;
    color: #ccc;
    line-height: 30px;
}

!* main *!

#tooplate_main {
    clear: both;
    width: 960px;
    padding: 0 0 40px;
    margin: 0;
}

.col_w960 { width: 100%; margin-bottom: 60px }
.col_w600 { width: 600px }
.col_w450 { width: 100% }
.col_w300 { width: 300px }
.col_w200 { width: 200px }
.col_allw300 { float: left; width: 300px; margin-right: 30px }
.col_last { margin: -10px }

.frontpage_box h2 {
    font-size: 20px;
    padding: 0;
    margin-bottom: 5px;
    color: #ffcc00;
}

.frontpage_box img {
    float: left; margin-right: 15px;
}

.frontpage_box a.more {
    margin-top: 15px;
}

.tagline {
    display: block;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    color: #666;
    margin-bottom: 20px
}

.lp_frontpage {
    margin: 0;
    padding: 0;
    list-style: none
}

.lp_frontpage li {
    margin: 0;
    padding: 0;
    display: inline
}

.lp_frontpage li a {
    float: left;
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 10px 10px 0
}

.lp_frontpage li a img {
    width: 190px;
    height: 90px;
    border: 1px solid #203252;
    padding: 4px;
}

.sb_lp_box { clear: both; margin-bottom: 20px }
.sb_lp_box img { width: 280px; height: 140px; padding: 9px; border: 1px solid #ccc }


#gallery {
    margin: 0;
    padding: 0
}

#gallery .gallery_box {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: url(images/tooplate_hr_divider.png) bottom repeat-x
}

#gallery .gallery_box img {
    float: left;
    width: 420px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 9px;
    margin-right: 40px;
    background: #fff
}

#gallery .last_box {
    margin-bottom: 0;
    padding-bottom: 0;
    background: none
}

.news_box { margin-bottom: 60px }
.news_box h2 { font-size: 16px; margin-bottom: 0 }
.news_box p.date { color: #000; margin-bottom: 0 }
.news_box img { float: left; width: 100px; height: 100px; border: 5px solid #ccc; margin-right: 20px; }
.news_box a.more { float: right; }

.post_box {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: repeat-x bottom;
}

.post_box_date {
    float: left;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    padding-top:10px;
}

.post_box_date span {
    display: block;
    font-weight: normal;
}

.post_box_content {
    float: right;
    width: 480px
}

.post_box_content img {
    margin-bottom: 10px
}

.post_box h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.post_box h2 a {
    color: #ffcc00;
    font-size: 34px;
    font-weight: normal;
    line-height: 34px;
    margin-bottom: 20px;
    text-decoration: none
}

.post_box h2 a span {
    font-size: 12px;
    color: #333
}

.post_box p {
    margin-bottom: 0;
}

.post_box p.date {
    font-size: 10px;
    font-weight: 700;
    color: #0e4369
}

.post_box .more {
    clear: both;
    float: right;
    margin-top: 20px;
}

.lbe_box {
    clear: both;
    margin-bottom: 20px;
}

.lbe_date {
    float: left;
    width: 100px;
    font-size: 12px;
    font-weight: bold;
}

.lbe_date span {
    display: block;
    font-weight: normal;
}

.lbe_content {
    float: right;
    width: 320px;
}

.lbe_box h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.lbe_box h3 a {
    color: #f9b507;
    font-size: 16px;
    font-weight: normal;
}

.lbe_box h3 a span {
    font-size: 12px;
    color: #333;
}

.lbe_box p {
    margin-bottom: 0;
}

.lbe_box p.date {
    font-size: 10px;
    font-weight: 700;
    color: #f9b507;
}

#cp_contact_form {
    padding: 0;
    width: 100%;
}

#cp_contact_form form {
    margin: 0px;
    padding: 0px;
}

#cp_contact_form form .input_field {
    width: 388px;
    padding: 5px;
    color: #aaa;
    border: 1px solid #3b3a3a;
    background: #1b1a1a;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

#cp_contact_form form label {
    display: inline-block;
    color: #B1B1B1;
    vertical-align: top;
    font-size: 12px;
    padding-top: 7px;
    width: 100px;

}
#cp_contact_form li {
    list-style-type: none;

}
#cp_contact_form form input {

    padding: 5px;
    color: #aaa;
    border: 1px solid #3b3a3a;
    background: #1b1a1a;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px; }

#cp_contact_form form textarea {
    width: 388px;
    height: 160px;
    padding: 5px;
    color: #aaa;
    border: 1px solid #3b3a3a;
    background: #1b1a1a;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

#cp_contact_form form .submit_btn  {
    margin: 5px 0px;
    padding: 3px 14px;
    font-weight: bold;
    color: #aaa;
    border: 1px solid #3b3a3a;
    background: #1b1a1a;
}

#map img {
    width: 300px;
    height: 200px;
    border: 1px solid #999;
    padding: 5px;
}

#tooplate_footer_wrapper {
    margin-top: 16px;
    clear: both;
    width: 100%;
    background: url(images/tooplate_footer_repeat.jpg) repeat-x top
}

#tooplate_footer {
    clear: both;
    width: 960px;
    height: 30px;
    padding: 20px 14px;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #585858;
    margin: 48px auto;
    background: url(images/tooplate_footer.jpg) no-repeat top
}

#tooplate_footer a {
    font-weight: normal;
    color: #ffcc00;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000
}
#tooplate_menu2 {
    clear: both;
    width: 910px;
    padding: 0 15px;
    margin: auto;


}
#tooplate_menu2 ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#tooplate_menu2 ul li {
    padding: 0;
    margin: 0;
    display: inline;
}

#tooplate_menu2 ul .last { background: none }

#tooplate_menu2 ul li a {
    float: left;
    display: block;
    width: 120px;
    padding: 0;
    font-size: 16px;
    color:dimgrey;
    text-shadow: 1px 1px 1px #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    outline: none;
    border: none;
}

#tooplate_menu2 ul li a:hover, #tooplate_menu ul .current {
    color: #ffcc00;
    text-shadow: 1px 1px 1px #000
}

#error-font{
    color: red;
}



